<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.xzq.xos.server.mapper.UserMapper">
    <insert id="insert" parameterType="my.xzq.xos.server.model.User" useGeneratedKeys="true" keyProperty="id">
      insert into info_user
      (user_uuid,
      username,
      password,
      avator,
      email,
      phone,
      capacity,
      used,
      create_time,
      update_time)
      VALUES ( #{userUUID},
      #{username},
      #{password},
      #{avator},
      #{email},
      #{phone},
      #{capacity},
      #{used},
      #{createTime},
      #{updateTime}
      )
    </insert>

    <select id="getUserInfoWithoutPassword" parameterType="string" resultType="my.xzq.xos.server.model.User">
       SELECT
       id,
        user_uuid,
       username,
       avator,
       email,
       phone,
       capacity,
       used,
       create_time,
       update_time
       FROM info_user
        WHERE
        username = #{username}
    </select>

    <select id="loadUserByUsername" parameterType="string" resultType="my.xzq.xos.server.model.User">
        SELECT
        id,
        user_uuid,
        username,
        password,
        avator,
        email,
        phone,
        capacity,
        used,
        create_time,
        update_time
        FROM info_user
        WHERE
        username = #{username}
    </select>

    <select id="loadUserByEmail" parameterType="string" resultType="my.xzq.xos.server.model.User">
        SELECT
        id,
        user_uuid,
        username,
        password,
        avator,
        email,
        phone,
        capacity,
        used,
        create_time,
        update_time
        FROM info_user
        WHERE
        email = #{email}
    </select>

    <update id="updateUserCapacity">
        update info_user set used = used + #{used} where user_uuid = #{userUUID}
    </update>
</mapper>